.lives-display__language {
  background-color: #f4eb13;
  border-radius: 4px;
  padding: 4px;
  margin: 1.5px;
  font-weight: 700;
  font-size: 0.8rem;
  position: relative;
}
/*
.lives-display__language.eliminated::after {
  content: "💀";
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  font-size: 0.8rem;
}
*/
/*
.lives-display__language.eliminated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.85;
  border-radius: 3px;
  z-index: 1;
}
*/
.lives-display__language.eliminated::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3.5px;
}
